/*** adjustments for video-js ***/

ul.vjs-controls ul {
margin: 5px 0 0 0;
padding: 0 0 0 5px;
}

ul.vjs-controls li.vjs-time-control {
letter-spacing: 0px;
}

ul.vjs-controls li:before {
content: none;
}

ul.vjs-controls ul.vjs-progress-holder {
margin: 7px 0 0 5px;
}

ul.vjs-controls ul.vjs-progress-holder {
padding: 0;
}

ul.vjs-controls li.vjs-load-progress,
ul.vjs-controls li.vjs-play-progress {
margin: 0;
}
